<img src="/assets/background/careers.jpg" alt="" class="bg">

<div class="center-block">
<h1>INTERESTED? <span></span></h1>
</div>

<h2 class="jarak-1">-What We Need- </h2>
<div class="container">
<div class="row">

  <div class="col-md-8">

    <div class="container">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-right-circle fa-3x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M5.172 5.172a.5.5 0 0 1 .707 0l4.096 4.096V6.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H6.5a.5.5 0 0 1 0-1h2.768L5.172 5.879a.5.5 0 0 1 0-.707z"/>
      </svg>
      <h3>Android Programmer</h3>
      <section class="isi">
        <h4>Responsibilities: </h4>
        <ul>
          <li>Membangun aplikasi Android/Mobile Apps</li>
          <li>Merancang sistem aplikasi, pemrograman, coding</li>
        </ul>
        <h4>Requirements: </h4>
        <ul>
          <li>Min. D3/S1 Teknik Informatika/Sistem Informasi</li>
          <li>Min. 3 tahun pengalaman sebagai mobile developer</li>
          <li>Mempunyai dan melampirkan portfolio aplikasi mobile yang pernah dibuat</li>
          <li>Mempunyai skill Java, Android OS, Android Studio, JSON, Web Service, dan REST API</li>
          <li>Nilai plus jika mengerti Swift dan Xcode</li>
          <li>Mampu membuat modul-modul secara individual maupun team</li>
          <li>Cekatan dan kreatif</li>
        </ul>
      </section>
    </div>


    <div class="container">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-right-circle fa-3x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M5.172 5.172a.5.5 0 0 1 .707 0l4.096 4.096V6.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H6.5a.5.5 0 0 1 0-1h2.768L5.172 5.879a.5.5 0 0 1 0-.707z"/>
      </svg>
      <h3>Graphic Designer</h3>
      <section class="isi">
      <h4>Responsibilities: </h4>
      <ul>
        <li>Interact with clients to determine and analyze the scope of a project</li>
        <li>Review final layouts to make needed suggestions for improvement</li>
        <li>Recommend to clients strategies to reach a certain audience</li>
        <li>Design graphics that identify a product or communicate an idea</li>
        <li>Determine colors, images, text style, and shapes to create layout</li>
        <li>Act as instructor to team of workers that arrange and prepare layout for printing</li>
        <li>Create electronic version of designs using computer software</li>
        <li>Study information and materials to plan concepts for design</li>
        <li>Perform administrative duties, such as managing information and assigning tasks to subordinates</li>
        <li>Prepare rough draft of material based on agreed brief of client or art director</li>
        <li>Relate with external printers or contractors on a regular basis to ensure highest quality and deadline are met</li>
        <li>Proofread designs for errors before final printing or publishing</li>
        <li>Perform research for new software or design tools</li>
        <li>Develop new business idea and contacts</li>
        <li>Conduct research on competitors and market trends</li>
        <li>Incorporate recommended changes by the clients into the final design</li>
        <li>Create an interactive design</li>
        <li>Work as part of a team with stylists, photographers, illustrators, copywriters, web developers, and other specialists</li>
        <li>Commission other artists</li>
      </ul>
      </section>
    </div>

    <div class="container">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down-right-circle fa-3x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path fill-rule="evenodd" d="M5.172 5.172a.5.5 0 0 1 .707 0l4.096 4.096V6.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H6.5a.5.5 0 0 1 0-1h2.768L5.172 5.879a.5.5 0 0 1 0-.707z"/>
      </svg>
      <h3>UI/UX Designer</h3>
      <section class="isi">
        <h4>Responsibilities: </h4>
        <ul>
          <li>Gather and evaluate user requirements in collaboration with product managers and engineers</li>
          <li>Illustrate design ideas using storyboards, process flows and sitemaps</li>
          <li>Design graphic user interface elements, like menus, tabs and widgets</li>
          <li>Build page navigation buttons and search fields</li>
          <li>Develop UI mockups and prototypes that clearly illustrate how sites function and look like</li>
          <li>Create original graphic designs (e.g. images, sketches and tables)</li>
          <li>Prepare and present rough drafts to internal teams and key stakeholders</li>
          <li>Identify and troubleshoot UX problems (e.g. responsiveness)</li>
          <li>Conduct layout adjustments based on user feedback</li>
          <li>Adhere to style standards on fonts, colors and images</li>
        </ul>
        <h4>Requirements: </h4>
        <ul>
          <li>Proven portofolio as UI/UX Designer or Similar Roles</li>
          <li>Have passion to included in team and work in tight Deadline</li>
          <li>Have creative sense and solution in updated Technologies</li>
          <li>Adobe XD, Marvell, In-Design Skills are a must, also have knowledge of wireframe</li>
          <li>Team spirit: strong communication skills to collaborate with various stakeholders</li>
          <li>Good-Time Management Skills</li>
        </ul>
      </section>
    </div>

  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
      <p class="card-text">We pride ourselves on being quick learners with an insatiable appetite for new knowledge and skills, and that’s the quality that unites all of our staff—from our interns to our president. <br><br>If that sounds like you, consider applying to one of our open positions. Full-time positions come with competitive salary and generous benefits.
        <br><br>
        If you don’t see anything that fits your background, please send your resume to jobs@braincodesolution.com <br><br> —we’re always keeping our eye out for good people!
      </p>
      </div>
  </div>

    <div class="card-body jarak">
      <h3 class="center">Qualified Enough?</h3>
      <p class="center">Just Fill this Form Below to Apply</p>
        <form>
    <div class="form-group">
      <h4>Your Name (required)</h4>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
    </div>
    <div class="form-group">
      <h4>Your Email (required)</h4>
      <input type="text" class="form-control" placeholder="E-mail">
    </div>
    <div class="form-group">
      <h4>Your Phone Number (required)</h4>
      <input type="text" class="form-control" placeholder="Phone Number">
    </div>
    <div class="form-group">
      <h4>Select Files (CV/Portfolio) :</h4>
      <input type="file" name="pdf" class="kumpul" accept=".pdf">
    </div>
    <button type="button" class="btn btn-info">Submit Now!</button>
  </form>
    </div>


  </div>

</div>
</div>
