<div class="container">
    <h1 style="text-align: center;" class="service-title">Information System</h1>

    <img style="height: 400px; width: 800px; margin-bottom: 20px;" src="assets\background\login-bg.jpg" alt="Internet Monitoring">

    <h2>How technology drives business in the digital era</h2>

    <p>
        Once upon a time, your tech stack was a problem for tech people. But in a digital world, technology strategy is inseparable from business strategy.
    </p>
    <p>
        Digital leaders rely on technology platforms to enable collaboration, agility, and a customer-first mindset. Technology expertise matters more than ever, but making the right tech choices is now a whole-of-business concern.
    </p>
    <p>
        BrainCode excels at smartly architecting and swiftly developing experience solutions. Deploying a proprietary framework, our solutions architects define and create optimal solutions, with an unshakeable focus on business efficiency, user experience and business need.
    </p>
</div>