
<div class="image-bg">
<img [src]="images[0]" class="img-fluid">
</div>
<div class="container">
<h1 class="title">{{title}}</h1>

<label>Dibuka Tanggal: {{timestamp}}</label>
<p class="content">{{content}}</p>
</div>



<!-- <div class="wrapper">
  <div class="parallax-container">
<div class="background">
<img [src]="images[0]" class="background__image">
</div>
<div class="foreground">
<div class="foreground__content">
<h1 class="title">{{title}}</h1>

<label>Dibuka Tanggal: {{timestamp}}</label>
<p class="content">{{content}}</p>
</div>
</div>
</div>
</div> -->
