<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Become an IT Company that be able to compete in Telco and Other Industries</h1>
    <p class="lead">with the updated IT Implementation also developing human resources who are experts in IT development</p>
  </div>
</div>

<div class="container-fluid">
  <div class="mainin">
    <div class="us">
      <p class="h2" style="padding-top:50px; padding-bottom:10px"> About Us </p>
      <div class="card-fluid-1">
      <p style= "font-size: 25px;line-height:1.5em; text-align: justify;" > BrainCode is Indonesian's leading specialist in developing mobile services, BrainCode is an innovative and technically competent wireless content provider. Connected to major Telco operators in Indonesia, Braincode Systems manages millions of SMS and provides mobile solutions for B2B and B2C.</p>
      </div>
    </div>
  </div>
</div>

  <div class="container-fluid">
    <div claas= "col-md">
        <div class="provide">
        <p class="h2" style="padding-top:50px; padding-bottom:20px">We Provide</p>
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="height:458.6px; width:476.4px;">
              <img src = "/assets/icon/images-1.png" class="card-img-top" style="padding-top:10px;">
              <div class="card-body">
              <h2 class="display-2"> IT professional Team </h2>
                <p style= "font-size: 18px;text-align: justify;"> Provide IT Development and Solution services at every level of the corporation and government.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card"style="height:458.6px; width:476.4px;">
            <img src = "/assets/icon/images-2.png" class="card-img-top-1" height = "225" style="padding-top:10px;">
              <div class="card-body">
              <h2 class="display-2"> Expertice in managing and developing mobile solution</h2>
                <p style= "font-size: 15px; text-align: justify;"> We have a lot of experience in mobile industries to provide added value, developed many mobile applications for our client within Indonesia and other countries, also focus on helping company for information services </p>
              <a routerLink="/company-profile/contact">Contact Us</a>
              <a routerLink= "/company-profile/services"  style="margin-left:20px;">Check Our Services</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="height:458.6px; width:476.4px;">
            <img src = "/assets/icon/images-3.png" class="card-img-top" height = "225" style="padding-top:10px;">
              <div class="card-body">
              <h2 class="display-2"> Experience in many project </h2>
                <p style= "font-size: 18px;text-align: justify;"> Braincode was founded 2004 to provide Information Technology and Mobile Solutions at every level of the corporation and government. </p>
              <a routerLink= "/company-profile/projects">Check Our previous Project</a>
              <a routerLink= "/company-profile/client" style="margin-left:20px;">Check Our Client</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>

<div class="container">
  <div class= "meet">
    <p class="h2"style="padding-top:50px;text-align: center;"> Meet Our Team</p>
      <mat-card class="mat-parent" style="padding-left: 0px;padding-top: 0px; padding-right:0px;margin-left:0px;">
      <div class="photo-slide">
        <ngb-carousel>
          <ng-template ngbSlide>
          <div class="card-deck">
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[0]" alt="Random first slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[0]" alt="Random first slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[0]" alt="Random first slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
            </div>
          </div>
          </ng-template>

          <ng-template ngbSlide>
          <div class="card-deck">
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[1]" alt="Random second slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[1]" alt="Random second slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[1]" alt="Random second slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </div>
          </div>
          </ng-template>

          <ng-template ngbSlide>
          <div class="card-deck">
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[2]" alt="Random third slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[2]" alt="Random third slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            </div>
            <div class="card" style="height:458.6px; width:476.4px;">
              <img [src]="images[2]" alt="Random third slide" class="card-img-top" style="width: 100%;height: 50%;">
            <div class="card-body">
              <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
            </div>
          </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </mat-card>
  </div>
</div>

