<div class="jumbotron">
<h1>OUR CLIENTS</h1>
<h2>Without our clients BRAINCODE wouldn’t exist. Delivering 100% customer satisfaction rate is our main goal. We are working with leading companies and hope to add yours to our list!</h2>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6 container-1">
      <img src="/assets/logo/mandiri.png" class="center-block thumbnail mandiri" alt="">
      <div class="overlay">Bank Mandiri</div>
    </div>
    <div class="col-md-6 container-1">
      <img src="/assets/logo/gag.jpg" class="center-block thumbnail gag" alt="">
      <div class="overlay">PT GAG Nikel</div>
    </div>
    <div class="col-md-6 container-1">
      <img src="/assets/logo/indosat.png" class="center-block thumbnail indosat" alt="">
      <div class="overlay">Indosat Ooredoo</div>
    </div>
    <div class="col-md-6 container-1">
      <img src="/assets/logo/telkomsel.png" class="center-block thumbnail telkomsel" alt="">
      <div class="overlay">Telkomsel</div>
    </div>
  </div>
</div>

