<!-- Details Mandiri Sales KPI Engine -->
<div class="container">
    <h1>Mandiri Sales KPI Engine</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Background</h2>
    <p>
        Business processes at the Bank Mandiri branch as the main touch point channel with customers in the retail
        segment play an important role. The lead management method can support staff efforts at the branch to create
        new businesses through several product offerings and marketing programs. Each product owner (consumer banking)
         at Bank Mandiri currently creates and distributes the data leads separately and directly to the segment
         owners in each region using their respective distribution systems.
    </p>

    <h2>Objectives</h2>
    <p>
        With the need for control that can track sales activities, measure Sales Representative performance, and
        monitor the recording and changing rules, a System that can calculate and measure Sales Representative
        performance automatically is needed. The following are details of the system capabilities needed:
    </p>

    <ol>
        <li>
            Automation of KPI calculations, Incentives & Sales Evaluations
        </li>

        <li>
            The results of the automation of KPI, Incentives and Evaluation can become printable reports (Hardcopy)
            for report / letter needs
        </li>

        <li>
            Presenting various integrated data sources
        </li>
    </ol>

    <h2>Dashboard Presentation:</h2>
    <ul>
        <li>
            Sales Rank and Point Calculation (on Main Page)
        </li>

        <img src="assets\background\login-bg.jpg" alt="sample">

        <li>
            Audit Trails for Point, Incentive Calculation and Data/Rules Changes
        </li>

        <img src="assets\background\login-bg.jpg" alt="sample">
    </ul>

    <h2>Data Processing</h2>
    <img src="assets\background\login-bg.jpg" alt="sample">
</div>