<!-- Details Big Data -->
<div class="container">
    <h1>BIG DATA</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Background</h2>
    <p>
        Since the automation for data collection and validation started to be implemented in 2018, it requires
        machine-to-machine interfacing between measurement Tools and integration platform. The common native PMs
        have their data interface scheduler or Big data ready but some of them still have to direct connection to the
        OSS database for data reliability reason. Unfortunately, A few of them only have traditional GUI without
        scheduler that need manual interaction to collect the measurement.
    </p>

    <h2>Objective</h2>
    <p>
        In this Project the Main Objectives that needs by Telkomsel Directorate. Such as :
    </p>

    <ol>
        <li>
            Validation Automation: Interpolation Output
        </li>

        <li>
            Network Performance KPI Monitoring 
        </li>

        <li>
            Aggregate for KPI Performance Focusing on VAS (Value Added Service)
        </li>
    </ol>

    <p>
        Vas In Big Data  is the automate process of making all Big Data reports in hourly, daily and monthly
        reports and displaying these reports in the form of web reports. With Retrieve raw data from data sources
        automatically using a script, Processing or aggregation of raw data into reports, Display data that has
        been processed or aggregated in the form of a web / dashboardVas In Big Data  is the automate process of
        making all Big Data reports in hourly, daily and monthly reports and displaying these reports in the form
        of web reports.
    </p>

    <img src="assets\background\login-bg.jpg" alt="sample">

    <p>
        With Retrieve raw data from data sources automatically using a script, Processing or aggregation of raw data
        into reports, Display data that has been processed or aggregated in the form of a web / dashboardVas In Big
        Data  is the automate process of making all Big Data reports in hourly, daily and monthly reports and
        displaying these reports in the form of web reports. With Retrieve raw data from data sources automatically
        using a script, Processing or aggregation of raw data into reports, Display data that has been processed or
        aggregated in the form of a web / dashboard.
    </p>

    <img src="assets\background\login-bg.jpg" alt="sample">
</div>