<div class="container">
  <img src="/assets/icon/image-bg-2.jpg" style="margin-left:50px;">
  <div class="content" style="margin-left: 50px; padding-right: 255px;">
      <p style="color:White;font-size: 20px; text-align: justify;"><strong>We'd love to hear from you so please feel free to give us a call or drop us an email to talk about your upcoming project.
      <br>Alternatively, please fill out the below form and we will get back to you as soon possible.</strong></p>
    </div>
</div>

<br>
<br>

  <div class="container-fluid">
    <p class="h1" style="text-align:center;"> You can Ask Us by Fill Form below </p>
    <br>

    <form>
      <div class="form-group">
        <label for="exampleInputName"> Name </label>
        <input type="name" class="form-control" id="exampleinputName" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <label for="exampleInputPhone"> Phone </label>
        <input type="phone" class="form-control" id="exampleInputPhone" aria-describedby="phoneHelp" placeholder="Phone">
          <small id="phoneHelp" class="form-text text-muted"> Please write it with ext. Example : (021) 111 5555 5555 </small>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail"> Email </label>
        <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email">
          <small id="phoneHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleFromControlInput"> Subject </label>
        <br>
        <input type="subject" class="from-control" id="exampleFromControlInput" placeholder="Enter Subject">
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea"> Massage </label>
        <textarea class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
