.example-spacer {
  flex: 1 1 auto;
}

.tulbar {
    background-color: #292961;
    color: #fff;
    height: 50px;
    // position: sticky;
    display: block;
    // flex-wrap: wrap;
    // flex-direction: row;
    // top:0;
    // overflow: hidden;
    // width:100%;
    // z-index: 0;
}

// .position-fixed {
//   position: fixed;
//   z-index: 999;
//   // valuenya semakin besar semakin ditaro di depan
// }

.bg-image {
  width: 50%;
  margin-left: 10%;
}

.mat-stroked-button {
  border-color: rgb(255 255 255);
  // border-width: 2px;
  // border-radius: 9px;
  // font-weight: 100;
  // outline: 0;
  margin-right: 10%;
  width: 100px;
}

// .mat-flat-button {
//     width: 100px;
// }

.regis {
  color: #58b795;
  border-color: #58b795;
  // border-width: 2px;
  // border-radius: 9px;
  // font-weight: 100;
  // outline: 0;
  width: 100px;
}

button {
  font-weight: 100;
  border-width: 2px;
  border-radius: 9px;
  outline: 0;
}

p {
  font-size: 18px;
  font-weight: 100;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.link {
  color: #fff;
  background-color: transparent;
}

.active {
  color: #58b795;
  border-color: #58b795;
  background-color: #fff !important;
  width: 100px;
}

.icon {
  width: 50px;
  height: 50px;
}
