<!-- Detail Internet Monitoring -->
<h1>Internet Monitoring</h1>
<div class="container">
    <img src="assets\background\login-bg.jpg" alt="sample">
    <h2>Background</h2>
    <p>
        Internet Monitoring describes a system that constantly monitors the network conditions of routers,
        servers, and other devices in a company such as this project is Telkomsel. If a network system occurs
        error, down, and unstable the system will later notify the administrator of software / IM systems that
        use internet management, so that the network can work optimally.
    </p>

    <h2>Objective</h2>
    <p>
        Network monitoring is gathering useful information from various parts of the network so that the network
        can be regulated and controlled using the information that has been collected. Some of the main reasons
        for doing network monitoring are:
    </p>

    <ol>
        <li>It is difficult to monitor what is happening on a network that has a number of devices (nodes)
            without good monitoring tools.
        </li>
        <li>
            To keep the network always in good condition.
        </li>
        <li>
            To detect errors on important networks, gateways and servers.
        </li>
        <li>
            Monitoring the Telkomsel network nationally and by region.
        </li>
        <li>
            Visualize network performance and throughput in each region in the bit in and bit out parameters.
        </li>
    </ol>

    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Data Processing NMS Internet Monitoring</h2>

    <img src="assets\background\login-bg.jpg" alt="sample">
</div>