<!-- Details NMS Availability -->
<div class="container">
    <h1>NMS Availability</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Background</h2>
    <p>
        The background of dashboard availability is monitoring the availability of NMS clients such as link reports
        and all services in the OSSera dump file monitoring the performance of engineering that installs and maintains
        devices and interfaces. This affects the alarm when the link is down.
    </p>

    <h2>Objective</h2>
    <ul>
        <li>
            Help to monitor network condition on near realtime (per 5 minutes data flow)
        </li>

        <li>
            To help configurate and control action for responsive action on network availability condition 
        </li>
    </ul>

    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Data Processing NMS Availability</h2>
    <img src="assets\background\login-bg.jpg" alt="sample">
</div>