<!-- Cooperation Account Management -->
<div class="container">
    <h1>Corporate Account Management</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">
    <p>
        Corporate Account Management ( CAM ) is a dashboard to monitoring and manage APN that registered by
        admin. There are 20 VVIP APN that will updated every 5 minutes and also alarm feature related to APN
    </p>

    <p>
        20 Corporate APN that registered on CAM will get 6 information include ; Active PDP, PDPSR, Throughput,
        Ping Loss, Ping Jitter, Ping Rtt.
    </p>

    <p>
        This dashboard is very helpful for the company that registered as VVIP APN on CAM. They can manage and
        monitoring flow data usage of their own for more benefit. CAM is a useful tool for corporate that
        required data monitoring and management.
    </p>
</div>