<!-- Details Mandiri NBS Automation -->
<div class="container">
    <h1>Mandiri NBS Automation</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Background</h2>
    <p>
        In reporting on products and customers that are done manually. The length of time it takes to work because
        each report is obtained from a variety of data sources, requires the construction of a reporting system
        automatically. This will greatly assist the staff in submitting reports at the top level Manager.
    </p>

    <h2>Objective</h2>
    <p>
        The following are the expected impacts with the Reporting Engine system:
    </p>

    <ul>
        <li>
            Minimize decision time
        </li>

        <li>
            Making data collection activities not carried out by machines
        </li>

        <li>
            Lighten the work of division staff at Mandiri Directorate
        </li>
    </ul>

    <p>
        Next is the data processing process that occurred in the Mandiri NBS Automation Project
    </p>

    <p>
        Impact of the Dashboard to monitor utilization, link down, router performance and export data. This shows all
        backbone routers in all of Indonesia.
    </p>
    <img src="assets\background\login-bg.jpg" alt="sample">
</div>