<!-- Details GAG Nikel E-Operation -->
<div class="container">
    <h1>GAG NIKEL E-OPERATION</h1>
    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Background</h2>
    <p>
        Gag E-Operation is a project that changes the reporting system that was originally a manual work to be
        automatic in the form of applications. This project is one example that uses ERP Systems. With advancing
        technology and digitalization penetrating every aspect of modern life, as well as the fact that Indonesia is
        trying to achieve the Industrial Revolution 4.0, the simplified integration of data and company processes is
        a must. With great will and ideas, the GAG OPERATION mobile app and the web dashboard are one of the
        implementations for the realization of a convenient mining process. In the early stages of this development,
        the on-site mining process is the core of GAG OPERATION. Thus, our priority now is to collect all the data
        needed and develop applications with a web-based dashboard.
    </p>

    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Objective</h2>
    <p>
        GAG Operation has the aim to simplify work starting from recording production and sales capacity, can track
        the work carried out by existing site employees, and can be directly controlled by the supervisor and
        directors of PT GAG Nickel from a distance. The point is aimed at the process of digitizing data mining.
    </p>

    <img src="assets\background\login-bg.jpg" alt="sample">

    <h2>Data Processing</h2>
    <p>
        As web-based and mobile Application, GAG e-Operation need the transactional data. Here we describe some
        basic data transactions that occur on GAG e-Operation  :
    </p>
    <img src="assets\background\login-bg.jpg" alt="sample">
</div>